.container{
    display: grid;
    grid-template-rows: repeat(8,100px);
    /* grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px; */
    grid-template-columns: repeat(8,100px);
    border: 1px solid black;
    width: 800px;
}

.white{
    background-color: bisque;
    width: 100px;
    height: 100px;
}

.black{
    background-color: rgb(214, 153, 79);
    width: 100px;
    height: 100px;
}
