h1{
    border: 5px solid red;
    width: 100px;
    height: 100px;
    display: inline-block;
    /* overflow: hidden; */
}

/* h2{
    display: none;
    border: 5px solid red;
}

span{
    border: 2px solid blue;
    width: 100px;
    height: 100px;
} */